<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div>
                <input type="text" hidden th:value="${edituser.id}" th:name="id">
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>Username
                    <span id="userInfo"></span>
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.username}" type="text" id="username" name="username" required=""
                           lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>will become your only username
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>Phone
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.phone}" type="text" id="phone" name="phone" required=""
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>Email
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.email}" type="text" id="L_email" name="email" required="" lay-verify="email"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>Gender</label>
                <div class="layui-input-block">
                    <input th:field="${edituser.sex}" th:value="m" type="radio" name="sex" lay-skin="primary" title="Male">
                    <input th:field="${edituser.sex}"th:value="f" type="radio" name="sex" lay-skin="primary" title="Female">
                </div>
            </div>
            <div shiro:hasPermission="A" class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>Permission
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.perm}" type="text" id="perm" name="perm" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>C/R/U/D
                </div>
            </div>
            <div shiro:hasPermission="A" class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>Role</label>
                <div class="layui-input-block">
                    <input th:field="${edituser.role}" th:value ="guest" type="radio" name="role" lay-skin="primary" title="Guest" checked="">
                    <input th:field="${edituser.role}" th:value="super-administrator" type="radio" name="role" lay-skin="primary" title="Supreme administrator">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>Password
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.password}" type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6-16 characters
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>Confirm password
                </label>
                <div class="layui-input-inline">
                    <input th:value="${edituser.password}" type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="edit" lay-submit="">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return 'Username at least 5 character';
                }
            },
            pass: [/(.+){6,12}$/, 'password length between 6-12 '],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return 'inconsistent passwords';
                }
            }
        });

        form.on('submit(edit)',
            function (data) {
                console.log(data);

                var id = data.field.id;
                var username = data.field.username;
                var pass = data.field.pass;
                var phone = data.field.phone;
                var email = data.field.email;
                var sex = data.field.sex;
                var perm = data.field.perm;
                var role = data.field.role;
                $.ajax({
                    type: 'post',
                    url: "/user/update",
                    data: {
                        'id': id,
                        'username': username,
                        'password': pass,
                        'phone': phone,
                        'email': email,
                        'sex': sex,
                        'perm': perm,
                        'role': role
                    }
                });

                layer.alert("Successfully Edited!", {
                        icon: 6
                    },
                    function () {
                        xadmin.close();

                        xadmin.father_reload();
                    });
                return false;
            });

    });</script>
</body>

</html>
