<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">
                                Welcome To Bookstore Management System!
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">Data Analysis</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md6 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Overall Different Books</h3>
                                        <p>
                                            <cite>9,300</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md6 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Members</h3>
                                        <p>
                                            <cite>680</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md6 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Revenue(Day) </h3>
                                        <p>
                                            <cite>$5000</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md6 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Revenue (month) </h3>
                                        <p>
                                            <cite>$ 83,000</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md6 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Employees</h3>
                                        <p>
                                            <cite>6</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md6 layui-col-xs6 ">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>Profit Margin</h3>
                                        <p>
                                            <cite>14.5%</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">Profit
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">Month</span></div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font">$33,555</p>
                            <p>Increased
                                <span class="layuiadmin-span-color">13%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">New Customer
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">Month</span></div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font">587</p>
                            <p>Increased
                                <span class="layuiadmin-span-color">2.3%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">New Books
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">Month</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">655</p>
                            <p>Increased
                                <span class="layuiadmin-span-color">6%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">Other Revenue
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">Month</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">$ 4,002</p>
                            <p>Increased
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">Meiyu Zhang Intro to Java Final Project</blockquote></div>
            </div>
        </div>
        </div>
    </body>
</html>